* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #FCF5EB;
    display: flex;
    position: relative;
}

.photo{
    height: 100vh;
    width:50vw;
    background-color: #FCF5EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 100vh;
    width:50vw;
    background-color:#FCF5EB;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cont{
    height: 30vh;
    width:45vw;
    padding-left: 6vw;
    padding-right: 6vw;
    color: #000;
}

.cont h1{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 2rem;
    color: #000;
}

.cont p{
    padding-bottom: 2rem;
    color: #000;
}

.cont a{
    padding-bottom: 2rem;
    color: #000;
}



img{
    padding-top: 0vh;
    height: 23vw;
    width:42vw;
}

.cont a:hover{
    font-size: 1.1rem;
    color: rgb(107, 164, 21);

}



@media (max-width:1024px) {

    .container{
        height:100vmax;
        flex-direction: column-reverse;
       
    }
    
    .content{
        height: 50vh;
        width:100vw;
        background-color:#FCF5EB;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2vh;
       
    }

    .cont{
        
        height: 30vh;
        width:80vw;
        padding-left: 6vw;
        padding-right: 10vw;
        color: #000;
    }

    .cont h1{
        font-size: 3.5rem;
        font-weight: 500;
        padding-bottom: 2rem;
        color: #000;
    }


    .cont p{
        
        padding-bottom: 1rem;
        color: #000;
    }
    .photo{
        height: 50vh;
        width:100vw;
        background-color: #FCF5EB;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont a{
        padding-bottom: 2rem;
        color: #000;
    }


}